.header{
	height: 40px;
	background-color: white;
	box-shadow: 3px 2px 1px #565656;
	
}

.header-logo {
	display: flex;
	align-items: center;
	height: 40px;
	z-index: 2;
}

.header-logo img{
	width: 40px;
}

.header .container{
	display: flex;
	align-items: center;
	justify-content: space-between;
}
.nav-toggler {
    position: relative;
    width: 32px;
    height: 32px;
    z-index: 2;
}

.nav-toggler i {
    margin: 8px 0;
    display: block;
    width: 32px;
    height: 3px;
    border-radius: 4px;
    background-color: darkslateblue;
    transition: 0.8s;
}

.nav-toggler i:last-child {
    margin-bottom: 0;
}

.nav-menu {
	display: flex;
	align-items: center;
	flex-direction: column;
	justify-content:center;
	position: fixed;
	top: 0;
	bottom: 0;
	right: 0;
	left: 0;
	background-color: white;
	z-index: 1;

	transform: translateX(100%);
	transition: .2s ease-out;
}
.nav-menu li{
	margin: 15px 0;
}
	.mobile-nav.-open .nav-menu {
    transform: translateX(0%);
}

.mobile-nav.-open .nav-toggler i:first-child {
    opacity: 0;
    transition: .5s;
}

.mobile-nav.-open .nav-toggler {
    padding-right: 25px;
}

.mobile-nav.-open .nav-toggler i:nth-child(2) {
    transform: rotate(45deg);
    margin-bottom: -11px;
    transition: 0.8s;
}

.mobile-nav.-open .nav-toggler i:last-child {
    transform: rotate(-45deg);
    transition: 0.8s;
}
	
}
.-invisible{
	opacity: 0;
}

.mobile-nav{
	display: block;
}
.desktop-nav{
	display: none;
}
.header-links a{
	margin-right: 15px;
	margin-left: 15px; 
}
@media screen and (min-width: 500px) {
    .desktop-nav {
		display: flex;
		justify-content: space-between;
		width: 100%;
    }

    .mobile-nav {
        display: none;
    }
}